@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "GetAdminList";
    Layout = "~/Views/Shared/_JobLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Şifre</th>
        <th>Durum</th>
        <th>Admin Seviye</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdminID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.Password</td>
            <td>@item.Status</td>
            <td>@item.AdminRole</td>
            <td><a href="/Admin/DeleteAdmin/@item.AdminID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/UpdateAdmin/@item.AdminID" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>

<a class="btn btn-outline-info" href="/Admin/AddAdmin">Admin Ekle</a>

