@model EntityLayer.Concrete.JobType
@{
    ViewBag.Title = "UpdateJobType";
    Layout = "~/Views/Shared/_JobLayout.cshtml";
}

<h2>İş Tipi Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateJobType", "JobType", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.JobTypeID)
    @Html.Label("İsim")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Durum")
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
</div>
    <br />
    <button class="btn btn-outline-info">Kaydet</button>

}
