@model EntityLayer.Concrete.Sector
@{
    ViewBag.Title = "UpdateSector";
    Layout = "~/Views/Shared/_JobLayout.cshtml";
}

<h2>Sektör Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateSector", "Sector", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.SectorID)
    @Html.Label("İsim")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Durum")
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
</div>
    <br />
    <button class="btn btn-outline-info">Kaydet</button>

}


