@model EntityLayer.Concrete.Company
@{
    ViewBag.Title = "UpdateCompany";
    Layout = "~/Views/Shared/_JobLayout.cshtml";
}

<h2>Şirket Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateCompany", "Company", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.CompanyID)
    @Html.Label("İsim")
    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
    <br />
    @Html.Label("Email")
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Logo")
    @Html.TextBoxFor(x => x.Logo, new { @class = "form-control" })
    <br />
    @Html.Label("Web Sayfası")
    @Html.TextBoxFor(x => x.CompanyWebsite, new { @class = "form-control" })
    <br />
    @Html.Label("Şehir")
    @Html.DropDownListFor(x => x.CityID, (List<SelectListItem>)ViewBag.cityVl, new { @class = "form-control" })
    <br />
    @Html.Label("Sektör")
    @Html.DropDownListFor(x => x.SectorID, (List<SelectListItem>)ViewBag.sectorVl, new { @class = "form-control" })
    <br />
    @Html.Label("Durum")
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
</div>
    <br />
    <button class="btn btn-outline-success">Güncelle</button>

}
